package templates

templ Home(authenticated bool) {
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What-A-Git-Year - Home</title>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <div class="flex flex-col justify-center items-center">
        @NavBar(authenticated)
        <div class="hero bg-base-200 min-h-screen">
            <div class="hero-content flex-col lg:flex-row">
                <img
                src="/static/hero.png"
                class="max-w-lg rounded-lg shadow-lg p-6"
                />
                <div>
                <h1 class="text-5xl font-bold px-4">What a Git Year!</h1>
                <h1 class="text-3xl font-bold px-4">Spotify wrapped for GitHub</h1>
                <p class="py-6 px-4">
                    Get statistics about your (or your organization's) GitHub activity in the past year, share them with others and get inspired to build more!
                </p>
                <div class="px-4">
                    <a href="/search"><button class="btn btn-primary bg-gray-700 hover:bg-black text-white rounded shadow-sm">Get Started</button></a>
                    <a href="/signin"><button class="btn btn-primary bg-gray-700 hover:bg-black text-white rounded shadow-sm">Log In For More Features!</button></a>
                </div>
                </div>
            </div>
        </div>
        @Footer()
    </div>
}